@import "../common/_variables";

.movie-item {
    width: 200px;
    height: 250px;
    background-color: $primary;
    border-radius: 4px;
    margin: 18px 14px;

    &__title {
        font-size: 18px;
        color: $font-primary;
    }

    &__genre {
        font-size: 14px;
        color: $secondary;
        font-weight: 100;
    }
}