@import "../common/_variables";

.movie-item {
    background-color: $primary;
    border-radius: 4px;
    margin: 18px 14px;
    display: flex;
    flex-direction: column;

    &__title {
        margin: 18px;
        font-size: 18px;
        color: $font-primary;
    }

    &__genres {
        margin: 18px;
        font-size: 14px;
        color: $secondary;
        font-weight: 100;
        display: flex;
    }

    &__genre:not(:last-child) {
        margin-right: 8px;
    }
}