@import "../common/_variables";

.wrapper {
    background-color: $background;

}

.nav {
    background-color: $primary;
    color: $secondary;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 42px;
}

.header {
    align-items: center;
    color: $font-primary;
    display: flex;
    font-size: 32px;
    font-weight: bold;
    padding: 18px 42px;
    justify-content: space-between;

    &__title {
        margin-right: 18px;
    }
}

.create-movie-input {
    font-size: 16px;
    font-weight: 100;

    &__title {
        color: $secondary;

    }

    & *:not(:last-child) {
        margin-right: 18px;

    }

}